

    @keyframes pulse
    {
      0%{
        background-color: rgba(165,165,165,.1);
      }
      25%{
        background-color: rgba(165,165,165,.2);
      }
      50%{
        background-color: rgba(165,165,165,.3);
      }
      75%{
        background-color: rgba(165,165,165, .2);
      }
      100%{
        background-color: rgba(165,165,165, .1);
      }
    }

@mixin loading-background {
    position: relative;
        &:before {
            position: absolute;
            content:' ';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
        }
        &:after {
            content:' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            animation: pulse 1.5s infinite ease-in-out;
        }
}


:host(.loading) {
    @include loading-background;

}


